*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: aqua;
    height: 300px;
    width: 300px;
    /* position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

    animation: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@keyframes moving{
    /* from{
        transform: rotate(0) translateX(100px) rotate(0);
    }
    to{
        transform: rotate(360deg) translateX(100px) rotate(-360deg);

    } */

     from{
        transform: rotate(0) ;
    }
    to{
        transform: rotate(360deg) ;

    }
}
.sun{
    height: 50px;
    width: 50px;
    border: 50%;
    background-color: yellowgreen;
    transform: translateX(100px);
}