*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}

body{
    background-color: black;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 400px;
    background-color: aqua;
    gap: 5px;
    padding: 5px;
}

.first{
    background-color: rgb(14, 81, 81);
}

.second{
    background-color: orange;
}

.third{
    background-color: rgb(61, 95, 10);
}
.fourth{
    background-color: purple;
}
